In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
df[df['total_deaths'].notna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
28,AFG,Asia,Afghanistan,2020-03-23,40.0,6.0,2.143,1.0,1.0,0.143,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
29,AFG,Asia,Afghanistan,2020-03-24,42.0,2.0,2.286,1.0,0.0,0.143,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
30,AFG,Asia,Afghanistan,2020-03-25,74.0,32.0,6.857,1.0,0.0,0.143,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
31,AFG,Asia,Afghanistan,2020-03-26,80.0,6.0,7.714,2.0,1.0,0.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
32,AFG,Asia,Afghanistan,2020-03-27,91.0,11.0,9.571,2.0,0.0,0.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
location_groups = df.groupby(by=['location'])
location_groups.apply(lambda d:d[d['total_deaths'].notna()] )
print('The groups By location are ' + str(location_groups.ngroups))

The groups By location are 233

In [7]:
##Continent By deaths desc
df.groupby(by=['continent','total_deaths'])['total_deaths'].sum()

continent      total_deaths
Africa         1.0                861.0
               2.0                828.0
               3.0               1053.0
               4.0                820.0
               5.0                820.0
                                 ...
South America  596749.0        596749.0
               597255.0        597255.0
               597723.0        597723.0
               597948.0        597948.0
               598152.0        598152.0
Name: total_deaths, Length: 33896, dtype: float64

In [47]:
##Total Deaths Grouped by Continent - Location
df['date']=pd.to_datetime(df['date'])

things = df[df['date'] == df['date'].max()].groupby(by=['continent'])

for thing in things.groups:
    print(things.get_group(thing)[['total_deaths','location','date','continent']])

        total_deaths                      location       date continent
2364          5826.0                       Algeria 2021-10-04    Africa
3510          1577.0                        Angola 2021-10-04    Africa
12776          159.0                         Benin 2021-10-04    Africa
15471         2368.0                      Botswana 2021-10-04    Africa
17917          187.0                  Burkina Faso 2021-10-04    Africa
18470           38.0                       Burundi 2021-10-04    Africa
19665         1459.0                      Cameroon 2021-10-04    Africa
20847          342.0                    Cape Verde 2021-10-04    Africa
21696          100.0      Central African Republic 2021-10-04    Africa
22261          174.0                          Chad 2021-10-04    Africa
24574          147.0                       Comoros 2021-10-04    Africa
25143          199.0                         Congo 2021-10-04    Africa
26393          640.0                 Cote d'Ivoire 2021-10-04    Africa
29480         1086.0  Democratic Republic of Congo 2021-10-04    Africa
30657          172.0                      Djibouti 2021-10-04    Africa
32984        17469.0                         Egypt 2021-10-04    Africa
34118          150.0             Equatorial Guinea 2021-10-04    Africa
34681           42.0                       Eritrea 2021-10-04    Africa
35861         1224.0                      Eswatini 2021-10-04    Africa
36432         5765.0                      Ethiopia 2021-10-04    Africa
40645          194.0                         Gabon 2021-10-04    Africa
41212          338.0                        Gambia 2021-10-04    Africa
42989         1156.0                         Ghana 2021-10-04    Africa
46077          381.0                        Guinea 2021-10-04    Africa
46636          135.0                 Guinea-Bissau 2021-10-04    Africa
58291         5141.0                         Kenya 2021-10-04    Africa
62409          650.0                       Lesotho 2021-10-04    Africa
62976          286.0                       Liberia 2021-10-04    Africa
63556         4702.0                         Libya 2021-10-04    Africa
66113          958.0                    Madagascar 2021-10-04    Africa
66668         2284.0                        Malawi 2021-10-04    Africa
68423          550.0                          Mali 2021-10-04    Africa
69912          778.0                    Mauritania 2021-10-04    Africa
70478           90.0                     Mauritius 2021-10-04    Africa
74514        14355.0                       Morocco 2021-10-04    Africa
75076         1919.0                    Mozambique 2021-10-04    Africa
76203         3517.0                       Namibia 2021-10-04    Africa
79507          203.0                         Niger 2021-10-04    Africa
80092         2724.0                       Nigeria 2021-10-04    Africa
91201         1288.0                        Rwanda 2021-10-04    Africa
94444           53.0         Sao Tome and Principe 2021-10-04    Africa
95611         1860.0                       Senegal 2021-10-04    Africa
96767          112.0                    Seychelles 2021-10-04    Africa
97320          121.0                  Sierra Leone 2021-10-04    Africa
100204        1137.0                       Somalia 2021-10-04    Africa
100810       87819.0                  South Africa 2021-10-04    Africa
102572         130.0                   South Sudan 2021-10-04    Africa
104373        2909.0                         Sudan 2021-10-04    Africa
108423         719.0                      Tanzania 2021-10-04    Africa
110205         234.0                          Togo 2021-10-04    Africa
111567       24934.0                       Tunisia 2021-10-04    Africa
113092        3162.0                        Uganda 2021-10-04    Africa
120682        3649.0                        Zambia 2021-10-04    Africa
121246        4627.0                      Zimbabwe 2021-10-04    Africa
        total_deaths              location       date continent
588           7212.0           Afghanistan 2021-10-04      Asia
5547          5397.0               Armenia 2021-10-04      Asia
8148          6584.0            Azerbaijan 2021-10-04      Asia
9305          1389.0               Bahrain 2021-10-04      Asia
9886         27591.0            Bangladesh 2021-10-04      Asia
13619            3.0                Bhutan 2021-10-04      Asia
16767           60.0                Brunei 2021-10-04      Asia
19087         2406.0              Cambodia 2021-10-04      Asia
23473         4636.0                 China 2021-10-04      Asia
41799         9068.0               Georgia 2021-10-04      Asia
48966          213.0             Hong Kong 2021-10-04      Asia
50748       449260.0                 India 2021-10-04      Asia
51330       142261.0             Indonesia 2021-10-04      Asia
52530       121347.0                  Iran 2021-10-04      Asia
53119        22392.0                  Iraq 2021-10-04      Asia
54553         7843.0                Israel 2021-10-04      Asia
56361        17771.0                 Japan 2021-10-04      Asia
57142        10753.0                Jordan 2021-10-04      Asia
57713        16179.0            Kazakhstan 2021-10-04      Asia
59590         2452.0                Kuwait 2021-10-04      Asia
60156         2608.0            Kyrgyzstan 2021-10-04      Asia
60716           22.0                  Laos 2021-10-04      Asia
61899         8356.0               Lebanon 2021-10-04      Asia
67288        26759.0              Malaysia 2021-10-04      Asia
67864          232.0              Maldives 2021-10-04      Asia
73112         1347.0              Mongolia 2021-10-04      Asia
75633        17921.0               Myanmar 2021-10-04      Asia
76968        11174.0                 Nepal 2021-10-04      Asia
83396         4096.0                  Oman 2021-10-04      Asia
83984        27947.0              Pakistan 2021-10-04      Asia
84607         4156.0             Palestine 2021-10-04      Asia
87580        38828.0           Philippines 2021-10-04      Asia
89431          606.0                 Qatar 2021-10-04      Asia
95026         8716.0          Saudi Arabia 2021-10-04      Asia
97941          121.0             Singapore 2021-10-04      Asia
102024        2524.0           South Korea 2021-10-04      Asia
103801       13102.0             Sri Lanka 2021-10-04      Asia
106705        2287.0                 Syria 2021-10-04      Asia
107333         844.0                Taiwan 2021-10-04      Asia
107855         125.0            Tajikistan 2021-10-04      Asia
109063       17111.0              Thailand 2021-10-04      Asia
109625         118.0                 Timor 2021-10-04      Asia
112140       64909.0                Turkey 2021-10-04      Asia
114288        2103.0  United Arab Emirates 2021-10-04      Asia
116663        1249.0            Uzbekistan 2021-10-04      Asia
118761       19845.0               Vietnam 2021-10-04      Asia
120116        1743.0                 Yemen 2021-10-04      Asia
        total_deaths                location       date continent
1776          2713.0                 Albania 2021-10-04    Europe
2946           130.0                 Andorra 2021-10-04    Europe
7565         11034.0                 Austria 2021-10-04    Europe
11038         4200.0                 Belarus 2021-10-04    Europe
11647        25632.0                 Belgium 2021-10-04    Europe
14917        10726.0  Bosnia and Herzegovina 2021-10-04    Europe
17343        21216.0                Bulgaria 2021-10-04    Europe
26981         8685.0                 Croatia 2021-10-04    Europe
28317          554.0                  Cyprus 2021-10-04    Europe
28907        30478.0                 Czechia 2021-10-04    Europe
30091         2666.0                 Denmark 2021-10-04    Europe
35291         1370.0                 Estonia 2021-10-04    Europe
39216         1084.0                 Finland 2021-10-04    Europe
39836       117657.0                  France 2021-10-04    Europe
42419        93887.0                 Germany 2021-10-04    Europe
43848        14956.0                  Greece 2021-10-04    Europe
49547        30230.0                 Hungary 2021-10-04    Europe
50134           33.0                 Iceland 2021-10-04    Europe
53703         5249.0                 Ireland 2021-10-04    Europe
53960            NaN             Isle of Man 2021-10-04    Europe
55166       131068.0                   Italy 2021-10-04    Europe
59001         2962.0                  Kosovo 2021-10-04    Europe
61307         2743.0                  Latvia 2021-10-04    Europe
64136           60.0           Liechtenstein 2021-10-04    Europe
64720         5087.0               Lithuania 2021-10-04    Europe
65311          835.0              Luxembourg 2021-10-04    Europe
69000          459.0                   Malta 2021-10-04    Europe
71954         6877.0                 Moldova 2021-10-04    Europe
72538           33.0                  Monaco 2021-10-04    Europe
73679         1943.0              Montenegro 2021-10-04    Europe
77554        18603.0             Netherlands 2021-10-04    Europe
81344         6719.0         North Macedonia 2021-10-04    Europe
82188          861.0                  Norway 2021-10-04    Europe
88253        75695.0                  Poland 2021-10-04    Europe
88847        18000.0                Portugal 2021-10-04    Europe
90018        37677.0                 Romania 2021-10-04    Europe
90631       207056.0                  Russia 2021-10-04    Europe
93897           91.0              San Marino 2021-10-04    Europe
96198         8430.0                  Serbia 2021-10-04    Europe
98667        12676.0                Slovakia 2021-10-04    Europe
99278         4581.0                Slovenia 2021-10-04    Europe
103184       86527.0                   Spain 2021-10-04    Europe
105555       14868.0                  Sweden 2021-10-04    Europe
106143       11103.0             Switzerland 2021-10-04    Europe
113673       60634.0                 Ukraine 2021-10-04    Europe
114901      137378.0          United Kingdom 2021-10-04    Europe
117570           NaN                 Vatican 2021-10-04    Europe
        total_deaths                          location       date  \
4321            85.0               Antigua and Barbuda 2021-10-04
5737             NaN                             Aruba 2021-10-04
8716           557.0                           Bahamas 2021-10-04
10453           81.0                          Barbados 2021-10-04
12208          422.0                            Belize 2021-10-04
20283        28054.0                            Canada 2021-10-04
25820         6494.0                        Costa Rica 2021-10-04
27553         7618.0                              Cuba 2021-10-04
31219           22.0                          Dominica 2021-10-04
31802         4055.0                Dominican Republic 2021-10-04
33549         3293.0                       El Salvador 2021-10-04
44099            NaN                         Greenland 2021-10-04
44661          162.0                           Grenada 2021-10-04
45257        13750.0                         Guatemala 2021-10-04
47772          615.0                             Haiti 2021-10-04
48345         9878.0                          Honduras 2021-10-04
55739         1922.0                           Jamaica 2021-10-04
71121       279106.0                            Mexico 2021-10-04
78943          204.0                         Nicaragua 2021-10-04
85182         7244.0                            Panama 2021-10-04
91852           15.0             Saint Kitts and Nevis 2021-10-04
92422          209.0                       Saint Lucia 2021-10-04
92992           33.0  Saint Vincent and the Grenadines 2021-10-04
110987        1508.0               Trinidad and Tobago 2021-10-04
115523      703278.0                     United States 2021-10-04

            continent
4321    North America
5737    North America
8716    North America
10453   North America
12208   North America
20283   North America
25820   North America
27553   North America
31219   North America
31802   North America
33549   North America
44099   North America
44661   North America
45257   North America
47772   North America
48345   North America
55739   North America
71121   North America
78943   North America
85182   North America
91852   North America
92422   North America
92992   North America
110987  North America
115523  North America
        total_deaths              location       date continent
6977          1357.0             Australia 2021-10-04   Oceania
38601          634.0                  Fiji 2021-10-04   Oceania
58431            NaN              Kiribati 2021-10-04   Oceania
69342            NaN      Marshall Islands 2021-10-04   Oceania
71378            NaN  Micronesia (country) 2021-10-04   Oceania
78378           27.0           New Zealand 2021-10-04   Oceania
84028            NaN                 Palau 2021-10-04   Oceania
85746          234.0      Papua New Guinea 2021-10-04   Oceania
93313            NaN                 Samoa 2021-10-04   Oceania
99636            NaN       Solomon Islands 2021-10-04   Oceania
116992           1.0               Vanuatu 2021-10-04   Oceania
        total_deaths   location       date      continent
4964        115283.0  Argentina 2021-10-04  South America
14192        18766.0    Bolivia 2021-10-04  South America
16058       598152.0     Brazil 2021-10-04  South America
22851        37500.0      Chile 2021-10-04  South America
24051       126425.0   Colombia 2021-10-04  South America
32385        32805.0    Ecuador 2021-10-04  South America
47208          799.0     Guyana 2021-10-04  South America
86323        16203.0   Paraguay 2021-10-04  South America
86966       199485.0       Peru 2021-10-04  South America
104943         919.0   Suriname 2021-10-04  South America
116094        6058.0    Uruguay 2021-10-04  South America
118140        4510.0  Venezuela 2021-10-04  South America

In [51]:
##Total Deaths by Continent
print(things['total_deaths'].sum())

continent
Africa            212239.0
Asia             1133666.0
Europe           1235466.0
North America    1068605.0
Oceania             2253.0
South America    1156905.0
Name: total_deaths, dtype: float64